.photo:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: span 2;
}

@media (max-width: 800px) {
  .photo:nth-child(2) {
    grid-column: initial;
    grid-row: initial;
  }
}

.photo {
  display: grid;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

.photo img {
  grid-area: 1/1;
}

.visualizacao {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-area: 1/1;
  display: none;
}

.visualizacao::before {
  content: "";
  width: 16px;
  height: 10px;
  display: inline-block;
  margin-right: 4px;
  background: url("../../assets/visualizacao.svg") no-repeat;
}

.photo:hover .visualizacao {
  display: flex;
}
