.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 101vh;
}

.container h1 {
  margin: 0 0 24px 0;
}

.imagem {
  max-width: 300px;
  height: auto;
  width: 100%;
  border-radius: 16px;
}

.dados {
  padding: 0;
  list-style: none;
  font-size: 18px;
}

.dados li {
 margin-bottom: 8px;
}
