.photo {
  margin: auto;
  height: 576px;
  border-radius: 4px;
  background: white;
  display: grid;
  grid-template-columns: 576px 320px;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.8);
  animation: scaleUp 0.3s forwards;
}

@keyframes scaleUp {
  to {
    opacity: initial;
    transform: initial;
  }
}

.details {
  padding: 32px 32px 0 32px;
}

.img {
  grid-row: 1/4;
}

.comments {
  padding: 0 32px;
}

@media (max-width: 1024px) {
  .photo {
    height: auto;
    max-height: calc(100vh-62px);
    overflow-y: auto;
    grid-template-columns: minmax(320px, 640px);
  }
  .img {
    grid-row: 1;
  }
}

.author {
  opacity: 0.5;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author a:hover {
  text-decoration: underline;
}

.visualizacoes::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-right: 8px;
  background: url("../../assets/visualizacao-black.svg");
}

.attributes {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 32px;
}

.attributes li {
  margin-right: 32px;
}

.attributes li::before {
  content: "";
  display: inline-block;
  height: 20px;
  margin-right: 8px;
  position: relative;
  top: 3px;
  width: 2px;
  background: #333;
  margin-top: 5px;
}
