.body {
  max-width: 800px;
  margin: 0 auto;
}

.buttons-container {
  margin: 24px 0;
}

.button {
  padding: 8px;
  background-color: gray;
  border: None;
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
  margin-right: 24px;
  text-decoration: none;
  color: white;
}
