@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  padding-top: 64px;
  margin: 0px;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: "Spectral", Georgia;
  font-family: var(--type-first);
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 16px;
  font-family: var(--type-first);
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 800px;
  padding: 0 16px;
  margin: 0 auto;
}

.mainContainer {
  margin-top: 32px;
}

.title {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 48px;
  margin: 16px 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: #fb1;
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: 4px;
  z-index: -1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 160px);
}

.AppBody {
  flex: 1;
}

.VictoryContainer {
  height: initial !important;
}
