.body {
  max-width: 800px;
  margin: 0 auto;
  height: 101vh;
}

.buttonsContainer {
  margin: 24px 0;
}

.button {
  padding: 8px;
  background-color: rgb(200, 200, 200);
  border: None;
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
  margin-right: 24px;
  text-decoration: none;
  color: white;
}

:global(.active),
.button:hover {
  background-color: rgb(150, 150, 150);
}
